.rate-point {
  display: inline-block;
  cursor: pointer;
  background-color: #fefefe;
  box-shadow: 0 0 3px #c0c0c0;
  height: 18px;
  width: 18px;
  margin: 3px;
  border-radius: 50%;
  text-align: center;
  color: white;
}